@use './variables'as *;

html,
body {
    background-color: $color-grey-0-zircon;
    color: $color-grey-6-cinder;
    // background-color: $color-grey-6-cinder;
    // color: $color-grey-0-zircon;
    font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;

    @media screen and (min-width: $media-m) {
        font-size: $font-size-m;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
a:active,
a:hover,
a:visited {
    color: $color-grey-6-cinder;
    // color: $color-grey-0-zircon;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}