@use '../../utility/variables'as *;

.button {
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 42px;
    justify-content: center;
    margin: 10px 0;
    width: 100%;

    &-primary {
        background-color: $color-grey-1-athens;
        border: 1px solid $color-grey-6-cinder;
        border-radius: 25px;
        color: $color-grey-6-cinder;

        &:hover {
            background-color: $color-grey-2-silver;
            // border-color: $color-blue-9-cerulean;
        }
    }

    &.disabled {
        background-color: $color-blue-10-denim-opacity-30;
        border-color: $color-blue-10-denim-opacity-30;
    }
}