@use '../../utility/variables'as *;

.hero {
    &_wrap {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        display: flex;
        padding-top: 55px;
    }
}