@use '../../utility/variables'as *;

.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;

    &_wrap {
        background-color: $color-grey-0-zircon;
        border-bottom: 1px solid $color-grey-6-cinder;
        color: $color-grey-6-cinder;
        // background-color: $color-grey-6-cinder;
        // border-bottom: 1px solid $color-grey-0-zircon;
        color: $color-grey-0-zircon;
        display: flex;
        height: 55px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .link_wrap {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding-left: 55px;

        img {
            align-items: flex-start;
            width: 90px;
        }
    }
}